body{ 
    font-family: 'Hind Siliguri', sans-serif;
}

header img{
    width: 100px;
}

.nav-item{
    margin: 0px 10px;
    font-size: larger;
}

.nav-active{
    border-bottom: 5px solid lightskyblue;
    color: green;
}

.img-slider img{
    height: 500px;
}

section{
    margin-bottom: 100px;
}

.blog h2{
    text-align: center;
}

.hori-row{
    border: 5px solid lightskyblue;
    border-radius: 5px;
    width: 30%;
    margin-bottom: 50px;
}

.blog-img{
    height: 300px;
}

.card-title{
    color: green;
    font-weight: 700;
}

.card-footer{
    background-color: white;
    border: none;
}

.custom-button{
    color: green;
    padding: 5px 20px;
    font-weight: 700;
    border: 5px solid #008000;
    text-decoration: none;
    border-radius: 30px;
    font-size: larger;
}

.custom-button:hover{
    color: white;
    background-color: green;
}

.blog a{
    text-decoration: none;
    color: green;
}

.blog h4{
    text-align: center;
    margin-top: 20px;
}

.card:hover{
    box-shadow: 5px 5px 50px lightgray;
}

footer{
    background-image: linear-gradient(45deg, #add8e6, rgb(40, 173, 218));
    color: white;
    text-align: center;
    padding: 60px 0px;
}

footer img{
    width: 40px;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: white;
}

footer h5{
    background-color: green;
    border-radius: 10px;
    padding: 10px 10px;
    display: inline;
}

.social{
    margin-top: 30px;
    margin-bottom: 20px;
}

footer h6{
    color: black;
}

footer a, footer a:hover{
    text-decoration: none;
    color: white;
}
